
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   

}

header {
    text-align: center;
    padding-top: 30px;
    color: white;
    position: relative; 
    z-index: 2; 
}

.title {
padding-left: 100px;
padding-top: 140px;
font-size: 60px;


font-family: "Cardo", serif;
font-weight: 400;
font-style: bold;
}

.author {
padding-left: 100px;
font-size: 30px;  

font-family: "Cardo", serif;
font-weight: 400;
font-style: italic;
    }

.container {
padding-left: 100px;
padding-right: 100px;
padding-top: 140px;
display: flex; 
justify-content: space-between; 
flex-wrap: wrap; 
    }
    
.content {
height: 50px; 
border: 1px solid rgba(0, 0, 0, 0); 
margin: 5px; 
font-size: 20px;


font-family: "Cardo", serif;
font-weight: 400;
font-style: normal;
    }
    

    .spotlight {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: radial-gradient(
            circle at var(--x, 40%) var(--y, 40%),
            rgba(87, 87, 87, 0.354) 0%, 
            hsl(0, 0%, 62%) 7%,
            rgba(15, 15, 15, 0.96) 40% 
        );
        
        mix-blend-mode: var(--blend, darken);
        z-index: -1;
        pointer-events: none;
    }





@media screen and (max-width: 768px) {
    .title {
      font-size: 40px;
      padding-left: 20px;
    }
  
    .author {
      font-size: 20px;
      padding-left: 20px;
    }
  
    .container {
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 50px;
    }
  
    .content {
      font-size: 26px;
    }
  }
  

  @media screen and (max-width: 480px) {
    .title {
      font-size: 30px;
    }
  
    .author {
      font-size: 16px;
    }
  
    .container {
      padding-top: 20px;
    }
  
    .content {
      font-size: 14px;
    }
  }
  